{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}TLDRMed - Welcome!{% endblock %}

{% block page_content %}
<div class="page-header">
  <h1>Welcome to TLDRMed</h1>
</div>
{{ wtf.quick_form(form) }}
{% if keywords %}
<div class="page-header">
  <h1>You Searched For</h1>
</div>
<p>
  {% for keyword in keywords %}
  {{ keyword }}
  {% endfor %}
</p>
{% endif %}
{% if pmids %}
<div class="page-header">
  <h1>PubMed Returned the Following PubMed ID's</h1>
</div>
<p>
  <ul>
    {% for pmid in pmids %}
    <li>{{ pmid }}</li>
    {% endfor %}
  </ul>
</p>
{% else %}
<div class="page-header">
  <h1>PubMed Returned no PubMed ID's for Your Query</h1>
</div>
{% endif %}
{% endblock %}
